@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@layer components {
  .range {
    @apply
      w-full h-3 accent-zinc-200 border-0 bg-zinc-100 rounded-full appearance-none;
  }

  .range::-webkit-slider-thumb {
    @apply h-6 w-6 rounded-full appearance-none cursor-pointer bg-amber-400 ring-4 ring-amber-300/30;
  }
  .range::-moz-range-thumb {
    @apply h-6 w-6 rounded-full appearance-none cursor-pointer bg-amber-400 ring-4 ring-amber-300/30;
  }
  .range::-ms-thumb {
    @apply h-6 w-6 rounded-full appearance-none cursor-pointer bg-amber-400 ring-4 ring-amber-300/30;
  }
}

@layer components {
  /* Chrome, Safari, Edge, Opera */
  input.no-number-arrows::-webkit-outer-spin-button,
  input.no-number-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input.no-number-arrows {
    -moz-appearance: textfield;
  }
}
