.container {
    width: 100vw;
    height: 100vh;
    height: var(--app-height);

    overflow: hidden;
}

.content {
    position: relative;
    user-select: none;
    touch-action: none;
    pointer-events: none;
    opacity: 0;
}

.image {
    transform: scale(1);
    image-rendering: pixelated;
}

.mapOverlay {
    position: absolute;
    pointer-events: none;
    z-index: 1;
}

.pixel {
    height: 1px;
    width: 1px;
    position: absolute;
    z-index: 1;
    box-shadow:
        0.5px 0.5px 0 -0.4px black,
        0.5px -0.5px 0 -0.4px black,
        -0.5px 0.5px 0 -0.4px black,
        -0.5px -0.5px 0 -0.4px black,
        0 0 0 0.1px #f4f4f5;
}
